{% extends 'base.html' %}
{% block content %}
<h2>Ratings for {{ product.product_name }}</h2>

{% if product.ratings.exists %}
    <ul>
    {% for rating in product.ratings.all %}
        <li>
            <!-- <strong>{{ rating.user.username }}</strong> rated it {{ rating.rating }} stars: -->
            <p>{{ rating.description }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No ratings yet. Be the first to rate this product!</p>
{% endif %}

<a href="{% url 'ratings:add_rating' product.id %}" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded">
  Add Rating
</a>

{% endblock content %}