{% extends 'base.html' %}
{% block content %}
<h1>Recent Review</h1>


{% if not ratings %}
<p>Product ini belum pernah di-rating!</p>
{% else %}
<table>
  <tr>
    <th>Rating</th>
    <th>Description</th>
  </tr>

  {% for rating in ratings %}
  <tr>
    <td>{{rating.rating}}</td>
    <td>{{rating.description}}</td>
    <td>
      <a href="{% url 'rating:edit_rating' rating.pk %}">
          <button>
              Edit
          </button>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'rating:create_rating' %}">
  <button>Add Rating</button>
</a>
{% endblock content %}