{% extends 'base.html' %}
{% block content %}
<h1>Articles</h1>

{% if not articles %}
<p>Belum ada article saat ini.</p>
{% else %}
<div class="articles-list">
  {% for article in articles %}
  <div class="article-card">
    <h2><a href="{% url 'article:article_detail' article.id %}">{{ article.title }}</a></h2>
    <p><em>Created at: {{ article.created_at }}</em></p>
    <div class="article-content">
      <p>{{ article.content|truncatewords:20 }}</p> <!-- Preview limited to 20 words -->
      <a href="{% url 'article:article_detail' article.id %}">Read More</a> <!-- Link to the full article -->
    </div>
  </div>
  <hr>
  {% endfor %}
</div>
{% endif %}

<br />

<a href="{% url 'article:create_article' %}">
  <button>Add New Article</button>
</a>
{% endblock content %}
