<h2>Your Wishlist Collections</h2>

<ul>
    {% for collection in collections %}
    <h3>{{ collection.name }}</h3>
    <ul>
        {% for item in collection.wishlistitem_set.all %}
            <li>
                {{ item.product.product_name }}
                <a href="{% url 'wishlist:remove_wishlist' item.pk %}">Remove</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'wishlist:update_collection_name' collection.pk %}">Edit Collection Name</a>

    {% if collection.name != "Semua Wishlist" %}
        <a href="{% url 'wishlist:delete_collection' collection.pk %}" onclick="return confirm('Are you sure you want to delete this collection? Items will be moved to Semua Wishlist.');">Delete Collection</a>
    {% endif %}
    {% endfor %}
</ul>


<a href="{% url 'wishlist:create_collection' %}">Create New Collection</a>