<h2>Edit Profile</h2>
{% if messages %}
    {% for message in messages %}
        <div>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="id_first_name">Nama</label>
        {{ user_form.first_name }}
    </div>
    <div>
        <label for="id_phone_number">Nomor Telepon</label>
        {{ profile_form.phone_number }}
    </div>
    <div>
        <label for="id_email">Email</label>
        {{ user_form.email }}
    </div>
    <div>
        <label for="id_profile_picture">Ubah Foto Profil</label>
        {{ profile_form.profile_picture }}
    </div>
    <div>
        <label for="id_password">Password</label>
        {{ password_form.old_password }}
        <label for="id_new_password">Password Baru</label>
        {{ password_form.new_password1 }}
        <label for="id_new_password_confirm">Konfirmasi Password Baru</label>
        {{ password_form.new_password2 }}
    </div>
    <button type="submit">Save</button>
    <a href="{% url 'show_products:show_main' %}">Cancel</a>
</form>