{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
{% if not product_entries %}
<p>Belum ada data product pada furnico.</p>
{% else %}
<table>
  

  {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
  {% endcomment %} 
  {% for category in categories %}
    <tr>
        <td>{{category.category_name}}</td>
        <td>
            <a href="{% url 'show_products:edit_category' category.pk %}">
                <button>
                    Edit Kategori
                </button>
            </a>
        </td>
        <td>
            <a href="{% url 'show_products:delete_category' category.pk %}">
                <button>
                    Delete
                </button>
            </a>
        </td>
    </tr>

    {% if category.unique_products == 0 %}
        <tr>
            <td>Tidak ada produk dalam kategori ini!</td>
        </tr>
    {% else %}

        <tr>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Product Subtitle</th>
            <th>Product Price</th>
            <th>Product Description</th>
            <th>Product Advantages</th>
            <th>Product Material</th>
            <th>Product Size</th>
            <th>Product Category</th>
            <th>Sold this week</th>
            <th>People Bought</th>
        </tr>
        
        {% for product_entry in product_entries %}
            {% if product_entry.product_category == category %}
            <tr>
                <td><img src="{{product_entry.product_image}}"></td>
                <td>{{product_entry.product_name}}</td>
                <td>{{product_entry.product_subtitle}}</td>
                <td>{{product_entry.product_price}}</td>
                <td>{{product_entry.product_description}}</td>
                <td>{{product_entry.product_advantages}}</td>
                <td>{{product_entry.product_material}}</td>
                <td>{{product_entry.product_size_length}} x {{product_entry.product_size_height}} x {{product_entry.product_size_long}}</td>
                <td>{{product_entry.product_category}}</td>
                <td>{{product_entry.sold_this_week}}</td>
                <td>{{product_entry.people_bought}}</td>

                <td>
                    <a href="{% url 'show_products:edit_product' product_entry.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'show_products:delete_product' product_entry.pk %}">
                        <button>
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'show_products:create_product_entry' %}">
  <button>Add New Mood Entry</button>
</a>

<a href="{% url 'show_products:create_category' %}">
  <button>Add New Category</button>
</a>
{% endblock content %}