<div class="max-w-2xl mx-auto p-2 shrink justify-start justify-items-start justify-self-start">
	<div class="bg-white shadow-md rounded-lg max-w-80 border-gray-700 justify-start justify-items-start justify-self-start">
		<a href="{% url 'show_products:show_product' product_entry.pk %}">
			<img class="rounded-t-lg p-8" src="{{product_entry.product_image}}" alt="product image">
        </a>
			<div class="px-5 pb-5">
				<a href="{% url 'show_products:show_product' product_entry.pk %}">
                    <h3 class="text-black-900 font-extrabold text-2xl tracking-tight">{{product_entry.product_name}}</h3>
                    <h3 class="text-black-900 font-semibold text-xl tracking-tight text-wrap text-clip overflow-hidden">{{product_entry.product_subtitle}}</h3>
                </a>
					<div class="flex justify-between">
						<div class="flex items-center mt-2.5 mb-2">
						<svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
						</path>
					</svg>
					<svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
						</path>
					</svg>
					<svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
						</path>
					</svg>
					<svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
						</path>
					</svg>
					<svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
						</path>
					</svg>
					<span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">5.0</span>
					</div>
					<div>
						{% if product_entry.in_wishlist %}
                    		<button  onclick="removeFromWishlist('{{ product_entry.id }}')" class="wishlist-btn filled"><svg class="h-9 lg:h-10 p-2 text-gray-500" viewBox="0 0 22 22" aria-hidden="true" focusable="false" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" class="svg-inline--fa fa-heart fa-w-16 fa-9x"><path fill="red" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path></svg></button>
                		{% else %}
                    		<button product-entry-id="{{ product_entry.id }}" class="add-wishlist-btn"><svg class="h-9 lg:h-10 p-2 text-gray-500" aria-hidden="true" focusable="false" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-heart fa-w-16 fa-9x"><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg></button>
                		{% endif %}
					</div>
				</div>
				<div class="flex items-center justify-between pb-4">
					<span class="text-xl font-bold text-black-900">Rp{{product_entry.product_price}}</span>
				</div>

				<!-- TAMBAHIN PENGECEKAN USER ADMIN ATAU BUKAN DISINI -->
				<div class="flex items-center justify-between">
					<a href="{% url 'show_products:delete_product' product_entry.pk %}">
						<button class="mb-4 px-3 py-2 bg-red-500 rounded-full hover:bg-red-700 text-white font-bold transition-colors duration-300">
							Delete product
						</button>
					</a>

					<a href="{% url 'show_products:edit_product' product_entry.pk %}">
						<button class="mb-4 px-3 py-2 bg-blue-500 rounded-full hover:bg-blue-700 text-white font-bold transition-colors duration-300">
							Edit product
						</button>
					</a>

				</div>
			</div>
	</div>
	<div id="add-wishlist-modal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center">
		<div class="bg-white rounded-lg shadow-lg w-96 p-6 relative">
			<h2 class="text-2xl font-bold mb-4">Add to Wishlist</h2>
			<p>Select a wishlist to add this product:</p>

		
			<select id="wishlist-collection" class="mt-4 w-full p-2 border rounded">

			</select>

			<input type="hidden" id="product-entry-id" />

			<button id="confirm-add-wishlist" class="mt-4 bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add to Wishlist</button>
			<button id="cancel-add-wishlist" class="mt-2 text-gray-600">Cancel</button>
		</div>
	</div>

</div>